

/**********************************/
/********** Top News CSS **********/
/**********************************/
.top-news {
    position: relative;
    width: 100%;
    padding: 30px 0 0 0;
}

.top-news .tn-img {
    position: relative;
    overflow: hidden;
}

.top-news .tn-img img {
    width: 100%;
}

.top-news .tn-img:hover img {
    transform: scale(1.1);
	transition: .2s;
}

.top-news .tn-title {
    position: absolute;
    top: 0; 
    right: 0;
    bottom: 0; 
    left: 0;
    padding: 15px 10px 15px 20px;
    background-image: linear-gradient(rgba(0, 0, 0, .0), rgba(0, 0, 0, .1), rgba(0, 0, 0, .9));
    display: flex;
    align-items: flex-end;
}
.top-news .tn-title .tn-date {
    font-size: 12px;
}
.top-news .tn-title a {
    display: block;
    width: 100%;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    transition: .3s;
}

.top-news .tn-left .tn-title a {
    font-size: 30px;
    font-weight: 600;
}

.top-news .tn-title a:hover {
    color: #25396f;
}

.top-news .tn-left {
    margin-bottom: 30px;
}

.top-news .tn-right {
    margin-bottom: 60px;
    padding: 0 30px;
}

.top-news .tn-right .col-md-6 {
    padding: 0;
}

.top-news .slick-prev,
.top-news .slick-next {
    width: 28px;
    height: 28px;
    z-index: 1;
    transition: .5s;
    color: #ffffff;
    background: #000000;
    border-radius: 4px;
}

.top-news .slick-prev {
    left: 30px;
}

.top-news .slick-next {
    right: 30px;
}

.top-news .slick-prev:hover,
.top-news .slick-prev:focus,
.top-news .slick-next:hover,
.top-news .slick-next:focus {
    color: #ffffff;
    background: #db1818;
}

.top-news .slick-prev::before,
.top-news .slick-next::before {
    font-family: "Font Awesome 5 Free";
    font-size: 18px;
    font-weight: 900;
    color: #ffffff;
}

.top-news .slick-prev::before {
    content: "\f104";
}

.top-news .slick-next::before {
    content: "\f105";
}

